<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<p>您好!</p>
	<p>這裡是「」平台系統，會員密碼重設通知。</p>
	<p>新密碼：<%= @new_pw%></p>
 	<p>網址：<%=link_to host, host%></p> 	
  </body>
</html>