<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	<p><%=@member.name%> 您好!</p>
	<p>資安事件ID:</p>	
	<p>此資安事件已超過三天未指派工程師，請至「資安通報系統」平台查看。</p>
  </body>
</html>