/*----------------------------------------------------------------------Extra style-------------------------------------------------*/
#event_lists_table a:hover
{	
	background: none;
}

body a:hover
{
	color:#8BE2FF;
	background: none;
	text-decoration:none ;	
}

body #event_lists_table th
{
	min-width: 135px;
}	

body #event_lists_table td
{
	text-align: center;
    vertical-align: middle;
}	
body #my_button a
{	
	color: #393939;
	padding: 5px 5px;
	border-radius: 3px; 
	font-size: 15px;
	font-weight: 700; 
	background-color: #75D1FF;
}

body #my_button a:hover
{
	color: #1b6d9d;
	padding: 5px 5px;
	border-radius: 3px; 
	font-size: 15px;
	font-weight: 700; 
	background-color: #75D1FF;	
}

body #green_button a
{	
	color: #393939;
	padding: 5px 5px;
	border-radius: 3px; 
	font-size: 15px;
	font-weight: 700; 
	background-color: #4DFFB8;
}

body #green_button a:hover
{
	color: #1b6d9d;
	padding: 5px 5px;
	border-radius: 3px; 
	font-size: 15px;
	font-weight: 700; 
	background-color: #B2FFB2;
}



body .menu_border_blue
{
	height: 35px;
	border-bottom: dotted #B5DAFF;
}

body #ip_maps_table th
{
	min-width: 103px;
}

body #members_table th
{
	min-width: 132px;
}

body #job_detail_table th
{
	min-width: 132px;
}

body #event_maps_table th
{
	min-width: 132px;
}

body .border_dotted_blue
{
	border: dotted #B5DAFF;
	
}
/*----------------------------------------------------------------------pagination apple style-------------------------------------------------*/
  .apple_pagination 
{
  	background: #f1f1f1;
 	border: 1px solid #e5e5e5;
  	text-align: center;
  	padding: 1em;
  	cursor: default; 
}
  .apple_pagination a, .apple_pagination span 
{
    padding: 0.2em 0.3em; 
}
  .apple_pagination .disabled 
{
    color: #aaaaaa; 
}
  .apple_pagination .current 
{
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; 
}
  .apple_pagination a 
{
    text-decoration: none;
    color: black; 
}
   .apple_pagination a:hover, .apple_pagination a:focus 
{
      text-decoration: underline; 
}
/*----------------------------------------------------------------------timepicker style-------------------------------------------------*/

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

.ui-datepicker-trigger { position: relative; top: 7px; }

/*----------------------------------------------------------------------original style-------------------------------------------------*/
/*
CSS Credit: http://www.templatemo.com/
*/
body {
	margin:0;
	padding:0;
	line-height: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	background: #ffffff;
}

a:link, a:visited { color: #008fc1; text-decoration: none; } 


h1 {
	margin: 0px;
	padding: 0px 0px 0px 0px;
	font-size: 18px;
	font-weight: bold;
	color:#008fc1;
	line-height: 50px;
}

h2 {
	margin: 0px;
	padding: 0px 0px 0px 0px;
	font-size: 15px;
	font-weight: bold;
	color: black;
}

h3 {
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	font-weight: bold;
	color: #37a7ce;
	text-decoration: underline;
}

h4 {
	margin: 0px;
	padding: 10px 0px 0px 0px;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}

p {
	margin: 10px 0px;
	color: #5b5847;
	text-align: justify;
}

img {  
	margin: 0px; 
	padding: 0px;
}

#templatemo_container {
	margin: 0px auto;
	width: 1280px;
	margin-top: 15px;
}

.send_btn {
	margin: 0px;
	padding: 0px 0px 0px 0px;
	height: 19px;
	width: 27px;
	font-size: 14px;
	font-weight: bold;
	color: #0a8eb8;
	text-decoration: none;
	background: none;
	border: none;
}

.textfield {
	margin: 0px 5px 0px 0px;
	padding: 0px;
	float: left;
	height: 19px;
	width: 175px;
	font: 12px Arial;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	border: 1px solid #CCCCCC;
}

.more_button a{
	clear: both;
	display: block;
	width: 57px;
	height: 19px;
	margin-left: 100px;
	padding: 0px 0px 0px 10px;
	background: url(templatemo_readmore.gif) no-repeat;
	color: #FFFFFF;
	text-decoration: none;
}

/* ----- Header ----- */

#templatemo_header {
	clear: both;
	padding: 0px;
	margin: 0px 0px 5px 0px;
	width: 1280px;
	height: 147px;
	text-align: right;
}

#logosection {
	margin: 0px 3px 0px 0px;
	float: left;
	width: 235px;
	height: 147px;
	background: url(templatemo_logo_background.gif) no-repeat;
}

.sitelogo {
	margin: 20px 0px 0px 20px;
	padding: 0px 25px;
}

.sitelogo a:hover{
	background: none;
}

#header {
	border-top-right-radius:15px;
	margin: 0px;
	float: right;
	width: 1040px;
	height: 147px;
	background: url(templatemo_header.png) repeat;
}

#header .title{
	padding: 50px 0px 0px 230px;
	font-size: 25px;
	font-weight:bold;
	color: #333333;
	line-height: 35px;
}

#header .bigtext a{
	font-size: 70px;
	font-weight:bold;
	margin-right: 1000px;
	color: #ffffff;
}

#header .bigtext a:hover{
	background: none;
}

/* ----- End of Header ----- */


/* ----------------- Content ----------------------- */

#templatemo_content {
	min-height: 650px;
	width: 100%;
	margin: 0px auto;
}


/*
th{
	min-width:75px; 
}
td{
	min-width:55px; 
}
*/

/* ----- Footer ----- */

#templatemo_footer {
	border-bottom-right-radius:15px;	
	border-bottom-left-radius:15px;
	clear: both;
	padding: 10px 0px 0px 0px;
	width: 1280px;
	height: 40px;
	text-align: center;
	color: #666;
	background: #d5d5d5 url(templatemo_footer.jpg) repeat;
	text-align: center;
}


#templatemo_footer a{
	color: #666;
}

#templatemo_footer a:hover{
	color: #ffffff;
}

/* ----- End of Footer ----- */

/* ------------- Menu ------------------ */
#menu {
	clear: both;
	margin-bottom: 5px;
	padding: 0px;
	width: 1280px;
	height: 35px;
	background: #ffffff;
}

#detail {
	font-size: 15px;
	float: left;
	width: 225px;
	height: 28px;
	padding: 7px 0px 0px 10px;
	background: url(templatemo_menu_background.gif) repeat-x;
}

.detail_text{
	font-size: 15px;
}


#templatemo_menu {
	float: right;
	width: 1040px;
	height: 35px;
	margin: 0px;
	background: url(templatemo_menu_background.gif) repeat-x;

}

#templatemo_menu  ul {
	margin: 0px;
	text-align: right;
	list-style: none;
}

#templatemo_menu  ul li {
	margin: 0px;
	display: inline;	
}

#templatemo_menu ul li a {
	margin: 0px;
	display:inline-block;
	height: 30px;
	padding: 5px 5px 0px 5px;
	font: 14px arial;
	color:#000000;
	text-decoration: none;

}

#templatemo_menu  ul li a:hover, #templatemo_menu  ul li .current {
	color: #FFF;
	background: url(templatemo_menuhover_background.gif) repeat-x;
}

/* ---------- End of Menu ------------- */

.ddsmoothmenu ul{
	z-index:100;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/*Top level list items*/
.ddsmoothmenu ul li{
	position: relative;
	display: inline;
	float: left;
	padding: 0 7px 0 5px;

}

/*Top level menu link items style*/
.ddsmoothmenu ul li a {
	display: block;
	width: 115px;
	line-height: 40px;
	font-size: 14px;
	color: #fff;	
	text-align: center;
	text-decoration: none;
	font-weight: 400;
	outline: none;
}

* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}

	
/*1st sub level menu*/
.ddsmoothmenu ul li ul{
	position: absolute;
	left: 0;
	margin: 0 0 0 6px;
	display: none; /*collapse all sub menus to begin with*/
	visibility: hidden;
	background: #CCCCCC;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li{
display: list-item;
float: none;
padding: 0;
background: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{
top: 0;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a{
	font-weight: 500;
	margin: 0;
	padding: 0 10px;
	line-height: 30px;
	width: 140px; /*width of sub menus*/
	font-size: 12px;
	text-align: left;
	border-bottom: 1px solid #91bdba;
	border-top: 1px solid #badfdc;
}

.ddsmoothmenu ul li ul li a.selected, .ddsmoothmenu ul li ul li a:hover  { /*CSS class that's dynamically added to the currently active menu items' LI A element*/
	background: #91bdba
}
/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */
.downarrowclass{
position: absolute;
top: 12px;
right: 7px;
}

.rightarrowclass{
position: absolute;
top: 6px;
right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */
.ddshadow{
position: absolute;
left: 0;
top: 0;
width: 0;
height: 0;
background: #509894;
}

.toplevelshadow{ /*shadow opacity. Doesn't work in IE*/

}
/* menu */

.anntopic_start {
background: rgb(238,246,244); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(238,246,244,1) 51%, rgba(246,248,247,1) 57%, rgba(216,230,224,1) 92%, rgba(216,230,224,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(51%,rgba(238,246,244,1)), color-stop(57%,rgba(246,248,247,1)), color-stop(92%,rgba(216,230,224,1)), color-stop(100%,rgba(216,230,224,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(238,246,244,1) 51%,rgba(246,248,247,1) 57%,rgba(216,230,224,1) 92%,rgba(216,230,224,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(238,246,244,1) 51%,rgba(246,248,247,1) 57%,rgba(216,230,224,1) 92%,rgba(216,230,224,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(238,246,244,1) 51%,rgba(246,248,247,1) 57%,rgba(216,230,224,1) 92%,rgba(216,230,224,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(238,246,244,1) 51%,rgba(246,248,247,1) 57%,rgba(216,230,224,1) 92%,rgba(216,230,224,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eef6f4', endColorstr='#d8e6e0',GradientType=0 ); /* IE6-9 */



}
.anntopic{
font-size: 18px;
font-weight: bold;
margin: 5px;
}

