<div id="menu">
    <div id="detail">
		<%if !session[:member_id].blank?%>
			<span class="detail_text"><%=Member.find_by_id(session[:member_id]).name%>您好!</span>
			<%=link_to '登出',{controller: 'members', action: 'logout'}%>
		<%end%>
    </div>
    <div id="templatemo_menu" class="ddsmoothmenu">
		<%if !session[:member_id].blank?%>
		<ul>	
	    	<li>
	    		<%=link_to 'Asset' ,{controller: 'asset_lists', action: 'index'}%>
	    		<ul>	
	    			<li><a href="#">Configure</a></li>
	    		</ul>
	    	</li>   		 
 		 
	        <li><a href="#">Configure</a></li> 	    
	 		     
	        <li><a href="#">Statistics</a></li>
	 		 
	        <li><a href="#">Administration</a></li>
	 		 
	        <li>
	        <%=link_to 'Accounts' ,{controller: 'members', action: 'index'}%>
	        </li>
	    </ul>	    	    	    	    
	    <%end%> 
	</div>
</div>
