<%=form_tag do%>
	<p id="notice">請先登入,謝謝!</p>
	<div>
		<label>帳號:</label>
		<%=text_field_tag :username, params[:username]%>
	</div>
	<div>
		<label>密碼:</label>
		<%=password_field_tag :password, params[:password]%>
	</div>
	<div>		
		 <%=submit_tag "登入"%>
	</div>
<%end%>
